<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <p><i class="fas fa-key fa-2x mb-5"></i>s</p>
    <!-- <h1 class="display-3 mb-5">Secrets!</h1> -->
    
    
    <% usersSecrets.forEach(secrets => { %>
      <p class="secret-text"><%= secrets.secret %></p>
    <% }) %>
    
    <a class="btn btn-dark btn-lg mt-5" href="/submit" role="button">Submit a Secret</a>
    
  </div>
</div>

<%- include('partials/footer') %>
